.vs/ConversationBackend/FileContentIndex/e2dc884c-38b1-434c-afb7-8b3bb27707d5.vsidx
obj/Debug/net9.0/ConversationBackend.AssemblyInfo.cs
obj/Debug/net9.0/ConversationBackend.AssemblyInfoInputs.cache
/.vs/ConversationBackend/FileContentIndex
